<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="frame">
        <div class="login-container">
            <div class="logo-section">
                <h1>InterLog</h1>
                <div class="underline"></div>
            </div>
            <div class="form-section">
                <input type="text" class="input-field" placeholder="ID">
                <input type="password" class="input-field" placeholder="Password">
                <button class="login-button">Login</button>
                <div class="signup-link" onclick="location.href='/interlog/signup'">Sign up</div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>